<div class="container" style="float:right">
 <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Página</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
          </ol>
          <h6 class="font-weight-bolder mb-0" id="nome_modulo"></h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
            </div>
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
  
            <span id="nome_usuario" data-nome="nome_usuario"></span>
            <li class="nav-item px-3 d-flex align-items-center">
              
              <a href="javascript:;" class="nav-link text-body p-0">
                
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<body class="g-sidenav-show  bg-gray-100">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="https://voxcity.com.br" target="_blank">
        <img src="../images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Voxcity Tecnologia</span><br>
        
      </a>
    </div>
    
    <hr class="horizontal  mt-0">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100 h-100" id="sidenav-collapse-main">
      <ul class="navbar-nav" >
        <li class="nav-item" style="cursor:pointer">
          <a class="nav-link active dashboard"  id="link_dashboard">
            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center" id="link_dashboard_icone">
              <i class="fas fa-tachometer-alt fs-5"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item department" style="cursor:pointer">
          <a class="nav-link" id="link_departamento">
            <div class="icon icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center" id="link_departamento_icone">
              <i class="fas fa-id-card fs-5"></i>               
            </div>
            <span class="nav-link-text ms-1">Departamentos</span>
          </a>
        </li>


        <li class="nav-item" style="cursor:pointer">
          <a href='/allow' class="nav-link allow" >
            <div class="icon icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fas fa-users"></i>
            </div>
            <span class="nav-link-text ms-1">Permissões</span>
          </a>
        </li>
        <li class="nav-item" style="cursor:pointer">
          <a href='/usuarios' class="nav-link usuarios" >
            <div class="icon icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fas fa-user"></i>
            </div>
            <span class="nav-link-text ms-1">Usuários</span>
          </a>
        </li>
        
        <li class="nav-item" style="cursor:pointer">
          <a class="nav-link chat">
            <div class="icon icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fas fa-comment-dots fs-5"></i>
            </div>
            <span class="nav-link-text ms-1">Chat</span>
          </a>
        </li>


        <li class="nav-item" style="cursor:pointer">
          <a href='/login/logout' class="nav-link logout" >
            <div class="icon icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
               <i class="fas fa-sign-out-alt"></i>
            </div>
            <span class="nav-link-text ms-1">Sair</span>
          </a>
        </li>

      </ul>
    </div>
     
</aside>
  
<!-- End Navbar -->
<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js"></script>
<script src="../assets/js/core/bootstrap.min.js"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="../assets/js/plugins/chartjs.min.js"></script>

<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>
 
<form action="logout" method="post">
  <input type="submit" value="sair" id="logout" style="display:none">
</form>

<form action="dashboard"   method="post">
  <input type="submit" name="usuario_id" id="dashboard" style="display:none">
</form>

<form action="users"   method="post">
  <input type="submit" name="usuario_id" id="users" style="display:none">
</form>

<form action="department"   method="post">
  <input type="submit" name="usuario_id" id="department" style="display:none">
</form>

<form action="chat"   method="post">
  <input type="submit" name="usuario_id" id="chat" style="display:none">
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>


<script>
	Element.prototype.empty = function (){
		return this.innerHTML = ""
	}
		Element.prototype.hide = function (){
		return this.style.display = "none"
	}
	



$(function(){
  const socket = io(websocket); 
  socket.on('usuarios online', (response) => {
    $.ajax({
      url:'/users',
      method:'GET',
      success:(user)=>{
        console.log(user)
        var name = '&nbsp&nbsp&nbsp'+user.name
         $('#nome_usuario').html(name)
      },
      error:(error)=>{console.log(error)}
    })
    $('#UsuariosOnline').html(response)
  
   
    
  })
  $('.dashboard').click(function(){
    window.location.href= "/dashboard"
  })  
  
  $('.chat').click(function(){
    window.location.href = '/chat'
  })  
  
  $('.users').click(function(){
    $('#users').val(usuario_id)
    $('#users').trigger('click')
  })  
  $('.department').click(function(){
    window.location.href = '/department'
  })  
  $('.logout').click(function(){
    localStorage.setItem('usuario_id','')
    localStorage.setItem('nome_usuario','')
    $('#logout').trigger('click')
  })  
})
</script>