{{> menu}}
<div class="container">
<div class="card-body">
  <div class="row">
  <div class="col-lg-3">
  <div class="card text-white bg-success mb-3 painel1" style="max-width: 18rem;">
    <div class="card-header text-primary"><b>VoxBot</b></div>
    <div class="card-body">
      <h6 class="card-title" style="font-size:14px">Usuários Online &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h6>
      <p class="card-text"><h1 id="UsuariosOnline">0</h1></p>
    </div>
  </div>
  </div>

  <div class="col-lg-3">
  <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
    <div class="card-header text-primary"><b>VoxBot</b></div>
    <div class="card-body">
      <h6 class="card-title" style="font-size:14px">Atendentes &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h6>
      <p class="card-text"><h1>0</h1></p>
    </div>
  </div>
  </div>
</div>

</div>
</div>    

</div>
<script src="/conf/variaveis.js"></script>
